*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins ,sans-serif;
}
body{
    color: white;
    background: #081b29;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    padding-top: 30px;
}
.sub-title span{
    color:aqua;
}
section{
    display: flex;
    flex-wrap: wrap;
}
.container{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}
.heading{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.bar{
    font-size: 23px;
}
.Technical-bars .bar{
    margin: 40px 0;
}
.Technical-bars .bar:first-child{
    margin-top: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}
.Technical-bars .bar .info{
    margin-bottom: 5px;
}
.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
     animation: animate is cubic-bezier(1,0,0.5,1) forwards;
     transform: scaleX(0); 
    transform-origin: left;
}
@keyframes animate {
    0% { 
        transform: scaleX(0); /* Line initially invisible */ 
    }
    100% { 
        transform: scaleX(1); /* Line fully visible, full width */ 
    }
}


